
@import"../sass/config/variables";
@import"../sass/component/mixin";
@import"../sass/layout/layout";
@import"../sass/base/base";
@import"../sass/component/menu_hambur";
@import"../sass/component/logo";
@import"../sass/component/redes_menu";
@import"../sass/component/busqueda";
@import"../sass/component/image_inicio";
@import"../sass/component/pages";
@import"../sass/component/quisom";
@import"../sass/component/estados";
@import"../sass/component/suscribete_boletin";
@import"../sass/component/newsletter";
@import"../sass/component/footer";
@import"../sass/component/item_post";
@import"../sass/component/block_dia_dia";
@import"../sass/component/compra_rural";
@import"../sass/component/diahome";
@import"../sass/component/sigueinsta";
