//---------------Header top----------------------------


#header_top{
  background: var(--fondo_principal);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  //margin-top: 1rem;
  padding: 1rem 0;
  justify-content: space-around;
  align-items: center;
}


#block-manosminimal-main-menu{
  text-align: center;
}

#block-manosminimal-branding{
  flex-grow: 1;
  align-self: flex-end;
  a{
    img{
    max-width: 80%;
    display: block;
    margin:auto;

    }
  }


}
