//breaK point
// font-family: 'Montserrat', sans-serif;
li {
  list-style:none;
}

img{
  max-width: 100%;
  height: auto;
  margin-bottom: -5px;
}

*,*::before,*::after {
  box-sizing: border-box;
}

body{
  margin: 0 auto;
  font-family: var(--tipografia) , sans-serif;
  color:var(--tipografi_principal);
  max-width: var(--max-width-header);
}
#content{
  max-width: var(--max-width-header);
  margin: 0 auto;
}
footer{
  max-width: var(--max-width-contetnt);
  margin: 0 auto;
  background:var(--fondo_principal);
}

a{
  text-decoration: none;
}

input#edit-email {
    max-width: 100%;
}

div#block-manosminimal-content #lupa {
    display: none;
}
#block-compraruralblock #lupa{
  display: none;
}
#block-newsletter-sularyyblock #lupa{
  display: none;
}
