//los bloques de la img_slider, descripcion y galeri de imgenes tienen el css igual y se controla desde el componente de horts, tambien los max-width de los contenedores
@import"mixin";

#content_ateneu{
//  max-width:var(--max-width-contetnt);
  background:var(--fondo_principal);
  //margin:0 auto;
      h1{
        color:var(--tipografi_principal);
        margin:0 !important;
        padding-top: 2.3rem;
          @include rwd(1100px){
            padding-left: 7rem;
            padding-right: 7rem;
          }

      }
      p{
        text-align: justify;
        @include rwd(large){
          line-height: 2em;

        }
        @include rwd(1100px){
        padding-left: 7rem;
        padding-right: 7rem;
      }
      }
}
#content_projet_content{
  @include rwd(large){
    margin-top: 4rem;
    margin-bottom: 4rem;

  }
}

#item_ateneu_descripcio_content{
    background:var(--fondo_principal);

    @include rwd(1000px){
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
}
#item_ateneu_descripcio{
    max-width:var(--max-width-contetnt);
}

#item_ateneu90{
  max-width: 90%;
  margin: 0 auto;
}
#content_projet_content{
  @include rwd(1000px){
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: #d6dacc;
  }
}
#content_projet{
  margin: 0 auto;
  max-width:var(--max-width-contetnt);
    background: #d6dacc;
}

#item_title_projet{
    max-width: 90%;
    margin: 0 auto;
    h1{
      font-size: var(--texto);
      color: var(--verde_titulo);
      text-align: center;
      padding-bottom: 1rem;
    }
}

#item_img_projet{
    max-width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
    @include rwd(large){
      text-align: center;
      }
}

#item_img_projet_phone{
  @include rwd(large){
  display:none;
  }
}

#item_title_projet, #item_img_projet{
  display: none;
  @include rwd(large){
  display:block;
  }
}

#galeria_img_phone{
  padding-top: 2rem;
}

#flecha_galeria{
  padding-bottom: 2rem;
}

.img_ateneu_project{
  @include rwd(large){
    max-width: 90%;
  }
  
}