
#content_compraRural_botiga{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
    @include rwd(768px){
        display:grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
        padding-top: 3em;
    }
        
    @include rwd(992px){
        display:flex;
        flex-direction: row;
        justify-content:space-between;
        margin-top:200px;
    }
}

#itemshopSantcu{
    display: flex;
    max-width: 70%;
    padding-bottom: 3.5rem;
    position:relative;
    @include rwd(600px){
        margin-left:2%;
    }
    @include rwd(625px){
        margin-left:3%;
    }
    @include rwd(650px){
        margin-left:5%;
    }
    @include rwd(681px){
        margin-left:7%;
    }
    @include rwd(700px){
        margin-left:8%;
    }
    @include rwd(700px){
        margin-left:9%;
    }
    @include rwd(767px){
        margin-left:12%;
    }
    @include rwd(768px){
        grid-column-start: 1;
        grid-column-end: 5;
        margin-left: 0px;
    }
    @include rwd(992px){
       max-width: 100%;
    }
}

//shop Bcn

#itemshopBcn{
    display: flex;
    max-width: 79%;
    justify-self: end;
    margin-left: auto;
    margin-top: -10px;
    margin-right: -23px;
    padding-bottom: 3.5rem;
    position: relative;
    @include rwd(425px){
        //margin-left: 145px;
    }
    @include rwd(600px){
        margin-left:30%;
    }
    @include rwd(681px){
        margin-left:31%;
    }
    @include rwd(700px){
        margin-left:33%;
    }
    @include rwd(767px){
        margin-right:0px;
        margin-left:35%;
    }
    @include rwd(768px){
        grid-column-start: 7;
        grid-column-end: 9;
        max-width: 300px;
        top:5px;
        margin-left:100px;
        margin-top: 0px;
    }
    @include rwd(992px){
       max-width: 100%;
       margin-left: 0px;
       margin-top: 0px;
    }
}


//shop sancu
#iconoSancu{
    
    @include rwd(992px){
        margin-left:-40px;
        width: 277px;
        height: 277px;
    }
}

#iconoBcn{
    @include rwd(992px){
        margin-right:-40px;
        width: 277px;
        height: 277px;
    }
}

#cercle{
    height:0;
    width:75%;
    padding-bottom:75%; 
    position: absolute;
    left:34%;
    top:2%;
   
    @include rwd(611px){
        width:64%;
        padding-bottom:64%;
        left:36%;
        top:3%;
    }
   @include rwd(700px){
        width:54%;
        padding-bottom:54%;
        top:5%;
        left:32%;
    }
    @include rwd(760px){
        width:54%;
        padding-bottom:54%;
        top:4%;
        left:27%;
    }
     @include rwd(768px){
        width:70%;
        padding-bottom:70%;
        top:2%;
        left:35%;
    }
    @include rwd(992px){
        width:266px;
        padding-bottom:266px;
        top:2%;
        left:31%;
    }
    @include rwd(1052px){
        width:266px;
        padding-bottom:266px;
        top:4%;
        left:33%;
    }
}

#cerclebcn{
    height:0;
    width:70%;
    padding-bottom:70%; 
    position: absolute;
    left:-7%;
    top:4%;
  
    @include rwd(611px){
        width:64%;
        padding-bottom:64%;
        left:-6%;
        top:2%;
    }
    @include rwd(700px){
        width:55%;
        padding-bottom:55%;
        left:-4%;
        top:2%;  
    }
    @include rwd(760px){
        width:55%;
        padding-bottom:55%;
        left:-4%;
        top:2%;
    }
    @include rwd(768px){
        width:70%;
        padding-bottom:70%;
        left:-7%;
        top:2%;
    }
    @include rwd(800px){
        width:205px;
        padding-bottom:205px;
        left:-6%;
        top:2%;
    }
    @include rwd(992px){
         width:259px;
        padding-bottom:259px;
        left:0%;
        top:5%;
    }
    @include rwd(1052px){
        width:259px;
       padding-bottom:259px;
       left:1%;
       top:5%;
   }
   @include rwd(1200px){
    width:259px;
   padding-bottom:259px;
   left:2%;
   top:5%;
}
}

//crea el circulo ......
.iconoShop{
    background-color:rgba(64, 73, 58, 0.1);
    border-radius: 1000px;
    z-index: 23;
}

.imgbottom{
    text-align: center;
}

.textIcono{
    text-align: center;
        p{
            font-size: 1.3em;
            color:var(--botom_botiga);
            font-weight:900;
            @include rwd(500px){
                font-size: 1.5em;
                margin-top:0px;
            }  
            @include rwd(768px){
                font-size: 1em;
            }
            @include rwd(992px){
                font-size: 1.5em;
            }
        }
}

.sancu, .bcn{
    margin-top: 5px;
    padding-top: 0.3rem;
    
}
//texto 
#itemText{
    padding-top: 50px;
    text-align: center;
    align-self:center;
    order: -1;
    position: relative;
    padding-bottom: 1.5rem;
    @include rwd(700px){
        padding-bottom: 3.5rem;
    }
    @include rwd(768px){
        grid-column-start: 1;
        grid-column-end: 9;
        padding-bottom: 2.5rem

    }
    @include rwd(992px){
        order:0;
        padding-top: 0px;
    }
    span{
        font-size: 0.9em;
        color:var(--tipografi_principal);
        @include rwd(768px){
            font-size: 1.2em;
        }
        @include rwd(992px){
            font-size: 1em;
        }
        @include rwd(1200px){
            font-size: var(--titulo);
        }
        
        
    }
    span:before{
        content: url('../img/asteriscoText.png');
        transform: scale(.8);
        position: absolute;
            left:42%;
            top:9px;
        @include rwd(768px){
            left:48%;
        }
        @include rwd(950px){
            left:49%;
        }
        @include rwd(992px){
            left:45%;
            top:-60px;
        }
        @include rwd(1200px){
            left:47%;
            top:-60px;
        }
        

    }
}

.borderText{
    border-top: 1px solid #8b947a;
}
#borderTop{
    display:none;
    border-top: 2px solid #A4BC95;
    margin:0 auto;
    max-width: 104%;
    
    
}

#borderTopBcn{
    display:none;
    border-top: 2px solid #A4BC95;
    margin:0 auto;
    max-width: 104%;
    @include rwd(470px){
    max-width: 88%;}
    @include rwd(992px){
        max-width: 74%;}
}

#borderTop, #borderTopBcn{
    @include rwd(470px){
        max-width: 79%;
    }
    @include rwd(992px){
        max-width: 71%;}
}








