@import"mixin";

#text_diahome {
    margin-bottom: 0;
   padding-bottom: 1rem;
   @include rwd(large){
       padding-bottom: 0;
     }
}

#contentdiahome{
  background:var(--fondo_principal);
  margin-top: -10px ;
  h1{
    font-size: var(--titulo);
    color:var(--tipografi_principal);
    margin:0 !important;
    padding-top: 2.3rem;
  }
  p{
    font-size: var(--texto);
    text-align: justify;
  }
    padding: 0 1rem;
    @include rwd(large){
      max-width: var(--max-width-contetnt);
      margin: 0 auto;
    }
}

.diahome_img{
  border-bottom: 25px solid var(--fondo_texto_separado);
}

#borde_fantasma{
  @include rwd(large){
    margin-left:0;
    max-width: 22%;
  }
  @include rwd(1100px){
    max-width: 15%;
  }
  @include rwd(1400px){
    max-width: 12%;
  }
}
