@import"mixin";

//crear dos columnas con el pie y el newsleter a partir de 767
div#footer_contact {
  @include rwd(large){
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
  }
}



footer{
  background: #fff;
  height: 250px;
    @media screen and(min-width: 425px){
        height: 350px;
    }
    @include rwd(large){
    //  width: 50%
    }
}

#block-footeruralblock{
  @include rwd(large){
    max-width: 50%;
  }
  @include rwd(1400px){
    background: #fff;
    z-index:30;
  }
}

#contetnt_footerual{
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  margin-top:10px;

}

#logo_rural_footer{
  text-align: center;
}

.logo_rural_footer{
  margin-top: 1rem;
  width: 82%;

  @include rwd(large){
    max-width: 100%;
  }
  @include rwd(960px){
    max-width: 90%;
  }
  @include rwd(1100px){
    max-width: 75%;
  }
  @include rwd(1300px){
    max-width: 60%;
  }
  @include rwd(extralarge){
    max-width: 80%;
  }


}

#correoRural{
    p{
      font-size:0.8em;
      color: var(--form);
      padding-left:3rem;
      @include rwd(425px){
      font-size:var(--texto);
      }
      @include rwd(large){
        font-size: var(--menu);
      }
      @include rwd(960px){
        font-size:var(--texto);
      }
    }
}

.invertir_email{unicode-bidi: bidi-override; direction: rtl}
.mail_footer{
  position: relative;
  right: 8%;
  @include rwd(large){
    right: 10%;
  }
  @include rwd(960px){
    right: 18%;
  }
  @include rwd(1200px){
    right: 24%;
  }
  @include rwd(1300px){
    right: 8%;
  }
  @include rwd(1400px){
    right: 12%;
  }

}
.mail_footer::before{
  content: url('../img/Mail.png');
  position: absolute;
  max-width:4px;
  max-height:4px;
  transform: scale(0.1);
 left:65px;
 top:-6px;
 @include rwd(large){
   left:95px;
   top:-10px;
 }
 @include rwd(960px){
   left:100px;
   top:-6px;
 }
 @include rwd(1200px){
   left:130px;
   top:-6px;
 }
 @include rwd(1300px){
   left:65px;
   top:-3px;
 }
 @include rwd(1400px){
   left:100px;
   top:-1px;
 }
}



#whassRural{
  p{
    font-size:var(--texto);
    color: var(--form);

    padding-left:3rem;
    @include rwd(large){
      font-size: var(--menu);
    }
    @include rwd(960px){
      font-size:var(--texto);
    }

  }
}
.mail_footer{

}
.tlt_footer{
  padding-top: 0.5rem;
  position: relative

}
.tlt_footer::before{
  content: url('../img/Whatsapp.png');
  position: absolute;
  max-width:4px;
  max-height:4px;
  transform: scale(0.1);
  left:0px;
  top:1px;
  @include rwd(large){
    top:-5px;
  }
  @include rwd(960px){
    top:1px;
  }
  @include rwd(1300px){
    top:2px;
  }

}
#correoRural, #whassRural{
  p{
    @include rwd(1300px){
      font-size: 1.2em;
    }
    @include rwd(extralarge){
      font-size: 1.4em;
    }
  }
}

#content_email{
  @include rwd(large){
    margin-top:1.5rem;
  }
  @include rwd(992px){
    margin-top:1rem;
  }
}
#content_email, #content_wapssa{
  margin-left:1rem;
  @include rwd(576px){
    margin-left:3rem;
  }
  @include rwd(large){
    margin-left:1.5rem;
  }
  @include rwd(992px){
    margin-left:2rem;
  }
  @include rwd(1100px){
    margin-left:4rem;
  }
  @include rwd(1200px){
    margin-left:5.5rem;
  }
  @include rwd(1300px){
    margin-left:9.5rem;
  }
  @include rwd(extralarge){
    margin-left:5.5rem;
  }
}

div#content-redes {
    margin-top: 2.3rem;
    @include rwd(extralarge){
      margin-top:0rem;

    }
}

.item_footer{
  @include rwd(large){
    display: none;
  }
}
