@import"mixin";

//crear dos columnas con el pie y el newsleter a partir de 767
div#footer_contact {
  @include rwd(large){
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
  }
}



footer{
  background: #fff;
  height: 250px;
    @media screen and(min-width: 425px){
        height: 350px;
    }

}

#block-footeruralblock{
  @include rwd(large){
    max-width: 50%;
  }
  @include rwd(1400px){
    background: #fff;
    z-index:30;
  }
}

#contetnt_footerual{
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  margin-top:10px;

}

#logo_rural_footer{
  text-align: center;
}

.logo_rural_footer{
  margin-top: 1rem;
  width: 82%;

  @include rwd(large){
    max-width: 100%;
  }
  @include rwd(960px){
    max-width: 90%;
  }
  @include rwd(1100px){
    max-width: 75%;
  }
  @include rwd(1300px){
    max-width: 60%;
  }
  @include rwd(extralarge){
    max-width: 80%;
  }


}

#correoRural{
    p{
      font-size:0.8em;
      color: var(--form);
      padding-left:17rem;
      @include rwd(425px){
      font-size:var(--texto);
      }
      @include rwd(large){
        font-size: var(--menu);
      }
      @include rwd(960px){
        font-size:var(--texto);
      }
    }
    padding-top: 1.1rem;
    padding-left: 0.6rem;
    @include rwd(425px){
     max-width: 80%;
    }
    @include rwd(768px){
     padding-top: 1rem;
    }
}

#content_email, #content_wapssa{
  @include rwd(425px){
    padding-left: 2rem;
  }
  @include rwd(768px){
    padding-left: 0.3rem;
  }
  @include rwd(900px){
    padding-left: 0.7rem;
  }
  @include rwd(1200px){
    padding-left: 0rem;
  }
}



.invertir_email{unicode-bidi: bidi-override; direction: rtl}
.mail_footer{
  position: relative;
  right: 10%;
  @include rwd(large){
    right: 10%;
  }
  @include rwd(960px){
    right: 18%;
  }
  @include rwd(1200px){
    right: 24%;
  }
  @include rwd(1300px){
    right: 8%;
  }
  @include rwd(1400px){
    right: 12%;
  }

}
.mail_footer::before{
  content: url('../img/Mail.png');
  position: absolute;
  max-width:4px;
  max-height:4px;
  transform: scale(0.1);
 left:62px;
 top:-6px;
 @include rwd(large){
   left:95px;
   top:-10px;
 }
 @include rwd(960px){
   left:100px;
   top:-6px;
 }
 @include rwd(1200px){
   left:130px;
   top:-6px;
 }
 @include rwd(1300px){
   left:65px;
   top:-3px;
 }
 @include rwd(1400px){
   left:100px;
   top:-1px;
 }
}



#whassRural{
  p{
    font-size:var(--texto);
    color: var(--form);

    padding-left:3rem;
    @include rwd(large){
      font-size: var(--menu);
    }
    @include rwd(960px){
      font-size:var(--texto);
    }

  }
}
.mail_footer{

}
.tlt_footer{
  padding-top: 0.5rem;
  position: relative

}
.tlt_footer::before{
  content: url('../img/Whatsapp.png');
  position: absolute;
  max-width:4px;
  max-height:4px;
  transform: scale(0.1);
  left:0px;
  top:1px;
  @include rwd(1200px){
    max-width:8px;
    max-height:8px;
  }
  @include rwd(large){
    top:-5px;
  }
  @include rwd(960px){
    top:1px;
  }
  @include rwd(1300px){
    top:2px;
  }

}
#correoRural, #whassRural{
  p{
    @include rwd(1300px){
      font-size: 1.2em;
    }
    @include rwd(extralarge){
      font-size: 1.4em;
    }
  }
}

#content_email{
  @include rwd(large){
    margin-top:1.2rem;
  }
  @include rwd(992px){
    margin-top:1rem;
  }
}
#content_email, #content_wapssa{

  @include rwd(576px){
    margin-left:3rem;
  }
  @include rwd(large){
    margin-left:1.5rem;
  }
  @include rwd(992px){
    margin-left:2rem;
  }
  @include rwd(1100px){
    margin-left:4rem;
  }
  @include rwd(1200px){
    margin-left:5.5rem;
  }
  @include rwd(1300px){
    margin-left:9.5rem;
  }
  @include rwd(extralarge){
    margin-left:5.5rem;
  }
}

div#content-redes {
  margin-top: -1rem;

    @include rwd(extralarge){
      margin-top:0rem;

    }
    ul{
      li{
        display:block;
        padding-top: 1rem;
        text-align: left;
      }
    }
}

.item_footer{
  @include rwd(large){
    display: none;
  }
}

.img_redes_footer{
  max-width: 11.3%;
  padding-top: 1rem;
  margin-left: -0.5rem;
  @include rwd(425px){
    max-width: 8.3%;
    margin-left: 0.3rem;
  }
  @include rwd(700px){
    max-width: 7.6%;
  }
  @include rwd(large){
    max-width: 8%;
  }
  @include rwd(1000px){
  margin-left: 0.3rem;
  }
  @include rwd(1200px){
  margin-left: 1rem;
  }
  @include rwd(1300px){
  margin-left: 4.3rem;
  max-width: 6.3%;
  }
  @include rwd(1400px){
  margin-left: 0.5rem;
  max-width: 7.3%;
  }
}

.item-redes{
  position: relative;
}
.redesfooter{
  //padding-left: 0.5rem;
  font-size: 0.9em;
  position: absolute;
  left: 30px;
  top:20px;
  opacity: .5;
  @include rwd(425px){
    left: 50px;
  }
  @include rwd(500px){
    left: 50px;
  }
  @include rwd(550px){
    font-size: 1em;
    left: 60px;
  }
  @include rwd(600px){
    font-size: 1em;
    left: 60px;
  }
  @include rwd(large){
    font-size: 0.8em;
    left: 40px;
    top: 18px;
  }
  @include rwd(1000px){
    font-size: 1em;
    left: 65px;
    top: 28px;
  }
  @include rwd(1300px){
    left: 115px;
    top: 23px;
  }
  @include rwd(1400px){
    left: 65px;

  }

}
#correoRuralColl{
    margin-left: 15px;
    @include rwd(425px){
      margin-left: -1px;
    }
  @include rwd(600px){

    margin-left: -45px;
  }
  @include rwd(700px){
    top:28px;
  }
  @include rwd(large){
    margin-left:0.2rem;
  }
  @include rwd(1000px){
    margin-left:-0.6rem;
  }
  @include rwd(1100px){
    margin-left:-2.6rem;
  }
  @include rwd(1300px){
    margin-left:-3.4rem;
  }
}
