@import"mixin";

#containerhort{
  @include rwd(large){
    background:var(--fondo_principal);
  }
}

#content_els_horts{
  max-width:var(--max-width-contetnt);
  background:var(--fondo_principal);
  margin:0 auto;
  padding-bottom:2rem;
  h1{
    color:var(--tipografi_principal);
    margin:0 !important;
    padding-top: 2.3rem;
    @include rwd(1100px){
      padding-left: 7rem;
    }
  }
  p{
    text-align: justify;
      @include rwd(large){
        line-height: 2em;

      }
      @include rwd(1100px){
        padding-left: 7rem;
        padding-right: 7rem;
      }
  }

}

#img_slider_horts img{
  @include rwd(large){
    padding-top:4.5rem;
    border-bottom: 25px solid var(--fondo_texto_separado);
  }
}
.descripcion_horts_destok{
    display:none;
    @include rwd(large){
      display:block;
    }
    @include rwd(1000px){
      display:block;
      padding-bottom: 2rem;
    }
}
.descripcion_horts_phone{

    @include rwd(large){
      display:none;
    }
}

.item_horts_descripcion{
  max-width: 90%;
  margin:0 auto;

   h1{

      font-size: var(--titulo);
      @include rwd(1200px){
        font-size: 2em;}
   }
   p{

   }
}

.pegartexto{
  margin-top: -10px;
}
#content_galeria_hort{
  display:none;
  @include rwd(large){
    display:flex;
    //flex-direction: column;
    justify-content: space-around;
  }
  @include rwd(1000px){
    padding-bottom: 2rem;
  }
}

#galeria_img_phone{
  @include rwd(large){
    display:none;
  }
  max-width: 90%;
  margin:0 auto;
  text-align: center;
}

.container_galeria_hort{
  @include rwd(large){
    padding: 1rem;
  }
}
.img_galeria_hort{

  object-fit: cover;
  object-position: 0px 0px;
  width: 500px;
  height: 400px;
}


#content_mapa_hort{
  max-width: 90%;
  margin:0 auto;
  //display:grid;
  display:none;
  grid-template-columns: 1fr 1fr 1fr;
  //grid-area: 1 / 2 / 5 / 3;
  @include rwd(1000px){
    padding-bottom: 2rem;
  }
}

#item_title_mapa{
  grid-area: 1 / 1 / 2 / 2;
  margin:auto;
}

#item_mapa{
  grid-area: 1 / 2 / 2 / 4;
}

#flecha_galeria{
  text-align: right;
}
.flecha_galeria{
  width: 15px;
  margin-right: 10px;
  margin-top:10px;
  cursor: pointer;
}
#borde_fantasma {
  @include rwd(1100px){
    margin-left: 7rem;
  }
}
