@import"mixin";

#content_els_horts{
  max-width:var(--max-width-contetnt);
  background:var(--fondo_principal);
  margin:0 auto;
  padding-bottom:2rem;
  h1{
    color:var(--tipografi_principal);
    margin:0 !important;
    padding-top: 2.3rem;
  }
  p{
    text-align: justify;
  }
}

#img_slider_horts img{
  @include rwd(large){
    border-bottom: 25px solid var(--fondo_texto_separado);
  }
}

.item_horts_descripcion{
  max-width: 90%;
  margin:0 auto;
   h1{

      font-size: var(--titulo);
      @include rwd(1200px){
        font-size: 2em;}
   }
   p{

   }
}
#content_galeria_hort{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
.container_galeria_hort{
  @include rwd(large){
    padding: 1rem;
  }
}
.img_galeria_hort{
  width: 100%;
  object-fit: cover;
  object-position: 0px 0px;
}


#content_mapa_hort{
  max-width: 90%;
  margin:0 auto;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  //grid-area: 1 / 2 / 5 / 3;
}

#item_title_mapa{
  grid-area: 1 / 1 / 2 / 2;
  margin:auto;
}

#item_mapa{
  grid-area: 1 / 2 / 2 / 4;
}
