
[class*=icon-]::before{
  content:"";
  display:inline-block;
//  margin-right: .15rem;
  //width: 1em;
  //height: 1em;

}

.icon-tlf::before{
content:url(../img/tlfT16.png);}

//.ico-checbox::after{
  //display:inline-block;
  //content: url(../img/marcaChecbox16.png);
//}

.link-lenguage-item .is-active:after{
  display:inline-block;
  content: url(../img/marcaChecbox16.png);
}

.fa-fw{width: .2em;}
