@import"mixin";

#block-views-block-image-inici-block-1{
  @include rwd(large){
    display: none;
  }
}

#block-views-block-image-inici-phone-block-1{
  display: none;
  @include rwd(large){
    display: block;
  }
}
