@import"mixin";

/*
body{
  @include rwd(1401px){
        background: var(--fondo_principal);
  }

}
*/

//--------------------MENU HAMBURGER
#block-menuprincipalstock{
  .main-menu-toggle{
    display:none;
  }

}


.main-menu-toggle{
  margin: 0.5rem 0.5rem ;
  text-align: center;
  width: 1.6rem;
  height: 1.1rem;
  background: linear-gradient(var(--menu_hamburger) 15%, transparent 15%, transparent 40%,
    var(--menu_hamburger) 40%, var(--menu_hamburger) 55%, transparent 55%, transparent 85%,
    var(--menu_hamburger) 85%);
  cursor: pointer;
}
.main-menu-togglex{
  margin: 0.5rem 0.5rem ;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("../img/x.JPG");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
    z-index:400;
}

.main-nav{
  position: fixed;
//  display: none;
  height: calc(100vh - var(--header-height));
  width: 100vw;
  //margin-top: 1rem;
  background: var(--fondo_principal);
  top:var(--header-height);
  right: -100vw;
  z-index:500;
  &.show{
    right: 0;
  }
}

.main-menu__item{
  max-width: 80%;
  text-align: left;
  padding: 1rem 1rem;
  border-top: 1px solid var(--menu_hamburger);
  //border-bottom:  1px solid var(--menu_hamburger);
    a{
      font-size: var(--menu);
      color:var(--tipografi_principal);
      @include rwd(1200px){
            font-size: 1em;
      }
    }
}

#item-compra{
  font-weight: 700;
  position:relative;
  padding-left: 2em;

  //Aplicamos un border image a elmento del menu, hay que relacionarlo con un evento focus
    a:active{
      padding-bottom:5px;
      border: 10px solid transparent;
      border-image-source: url(../img/focomenu.png);
      border-image-repeat: round;
      border-image-slice: 30;
      border-image-width: 0 0 15px 0;
    }
  /*  padding: 15px;  Este border-img del elmento li
    border-image-source: url(../img/focomenu.png);
    border-image-repeat: round;
    border-image-slice: 30;
    border-image-width: 0 0 15px 0;*/
}

#item-compra::before{
  content: url('../img/flechaP.png');
  //display: block;
  max-width:2px;
  max-height:2px;
  padding-left: 1.2em;
  padding-top: 0.3em;
  transform: scale(0.6);
  //margin-top:100px
  position: absolute;
  left:1px;
  //top:2px;
  @media screen and(min-width: 992px){
    top:17px;
    left:-2px;
  }
  @media screen and(min-width: 1039px){
    top:17px;
  }
  @media screen and(min-width: 1200px){
    top:13px;
    left: -12px;

  }
}

@media screen and(min-width: 992px){
  #header_top{
  }

  #block-manosminimal-main-menu{
    display: none;
  }
  #block-menuprincipalstock{
      max-width: 100%;
    .main-menu-toggle{
      display:none;
    }
    .main-nav{
      position: static;
      height:auto;
      width: auto;

          .main-menu__item{

          }
    }
    .main-menu{
      //width:36em;
      padding: 0;
      display:flex;
      flex-direction: row;
      flex-wrap: nowrap;
        li{
          font-size: 0.8em;
          border:none;
          display: inline;
        }
    }
    #content-redes {
      display:none;
    }
  }
}

@media screen and(min-width: 1039px){
  #block-menuprincipalstock{
  .main-nav{
    width:45em;
  }
  .main-menu{
    li{
    font-size: 0.9em;}
  }
}
}


@media screen and(min-width: 1200px){
  #block-menuprincipalstock{
      .main-nav{
        width:50em;
      }
      .main-menu{
        li{
          padding: 1em;
        font-size: 0.9em;}
      }
    }
}

//----------menu princiopal
#block-manosminimal-branding{
  @include rwd(extralarge){
      //  max-width: 450px !important;
  }
}

#header_top{
  @include rwd(extralarge){
    padding-bottom: 0.5rem;
  }
}

#block-menuprincipalstock{

    .main-nav{
      @include rwd(extralarge){
        width:60em;
        padding-left: 60px;
      }

    }
}

.main-menu__item{
  a{
  /*  padding-bottom:5px;
    border-bottom: 10px solid transparent;
    border-image-source: url(../img/focomenum.png);
    border-image-repeat: round;
    border-image-slice: 35;
    border-image-width: 0 0 15px 0;*/
  }

}
.main-menu__item .is-active{
  @include rwd(large){
    padding-bottom:5px;
    border-bottom: 10px solid transparent;
    border-image-source: url(../img/focomenun200.png);
    border-image-repeat: round;
    border-image-slice: 85;
    border-image-width: 0 0 15px 0;
  }

}

img#img_search_lupa {
    margin-right: 1rem;
}
