$breackpoints:(
  small:0px,
  medium:480px,
  mediumLarge:576px,
  large:767px,
  xlarge:1024px,
  extralarge:1400px,
);

@mixin rwd($bp){
    @if map-has-key($breackpoints,$bp){
    @media screen and (min-width:map-get($breackpoints,$bp)){
      @content;
    }
  }@else{
    @media screen and (min-width: $bp){
      @content;
    }
  }
}
