@import"mixin";


#content_instagram{
  max-width: var(--max-width-contetnt);
  margin: 0 auto;
  background: var(--fondo_texto_separado);
  @include rwd(large){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  //  border-bottom: 60px solid var(--fondo_texto_separado);
    //border-top: 50px solid var(--fondo_texto_separado);
    margin-top: 0px;
    padding-bottom: 60px;
    padding-top: 50px;
  }
}
.intems_instagram{
  @include rwd(large){

  }
}

.content_item{
  display: flex;
  flex-direction: column;
  align-items: center;
  @include rwd(large){
      max-width: 40%;
      margin-top: 2rem;
  }
}

.item_img_instagram{
//  border-top: 25px solid var(--fondo_texto_separado);
  padding-top: 25px;
  @include rwd(large){
    max-width: 35%;
  }
}

.title_instagram{
  max-width: 80%;
  margin-top: 1.6rem;
  h1{
    color: var(--text_titleinstagram);
    font-size: 1.2rem;
    @include rwd(large){
      font-size: 1rem;
    }
    @include rwd(extralarge){
      font-size: 1.8rem;
    }

  }

}

.zipzap_instagram{
  max-width: 80%;
  margin: 0.8rem 0 0.5rem 0;
  @include rwd(large){
    margin:0;
  }
  @include rwd(extralarge){
    margin-top:1.2rem;
    margin-bottom: 1.2rem;
  }

}
.text_instagram{
  font-size: 1.2em;
  max-width: 70%;
  @include rwd(large){
    font-size: 0.9rem;
    margin-top:1.2rem;
  }
  @include rwd(extralarge){
    font-size: 1.4rem;
    margin:0;
  }
  p{
    color: var(--text_titleinstagram);
    line-height:var(--interlineado);
    @include rwd(large){
      margin:0;
    }
    }

}

.icono_instagram{
  max-width: 35%;
  margin:1rem 0 4rem 0;
  @include rwd(large){
    margin: 2rem 0 1rem 0;
  }
}

.border_fantasma_sigue{
  display: none;
  @include rwd(large){
    display:block;
    width: 2rem;
    height: 17rem;
    border-right: 1px solid rgba(66, 89, 39, 0.5);
    border-top: 1px solid rgba(66, 89, 39, 0.5);
    border-bottom: 1px solid rgba(66, 89, 39, 0.5);
    margin-top: 1rem;
  }
  @include rwd(extralarge){
    height: 29rem;
  }
}
