#container_dia {
  max-width: var(--max-width-contetnt);
  margin: 0 auto;
  background: var(--fondo_principal);
  padding-bottom: 4rem; }
  @media screen and (min-width: 767px) {
    #container_dia {
      padding-top: 3rem;
      padding-bottom: 4rem;
      margin: 0 auto;
      padding-left: 1.5rem;
      padding-right: 1.5rem; } }

@media screen and (min-width: 576px) {
  #dia_home_items_desk {
    display: grid;
    grid-template-columns: 1fr 1fr; } }

#dia_home_movil {
  margin-left: 1rem;
  margin-right: 1rem; }

#titulo_dia {
  position: relative;
  font-size: var(--titulo);
  margin: 0;
  padding-top: 1.5rem; }
  @media screen and (min-width: 1400px) {
    #titulo_dia {
      font-size: 2em;
      font-weight: 900; } }

#titulo_dia::after {
  position: relative;
  content: url("../img/guionT.png"); }

.time_post1 {
  color: var(--barra_texto_suscribete_leermas);
  font-size: 0.9em; }
  @media screen and (min-width: 1400px) {
    .time_post1 {
      font-size: 1.2em; } }
  @media screen and (min-width: 1400px) {
    .time_post1 {
      font-size: 2em; } }

.dia_post_content {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.dia_post_item_creado {
  margin-top: 0.7rem;
  font-weight: 600;
  border-bottom: 1px solid var(--form); }

.dia_post_item_coment {
  font-size: var(--texto); }
  .dia_post_item_coment h6 {
    margin-top: 0.7rem;
    margin-bottom: 0; }

.dia_post_item_text {
  font-size: 0.6em; }
  @media screen and (min-width: 425px) {
    .dia_post_item_text {
      font-size: var(--menu); } }
  @media screen and (min-width: 1400px) {
    .dia_post_item_text {
      font-size: var(--texto); } }
  .dia_post_item_text p {
    margin-top: 0.4rem;
    margin-bottom: 0px; }

.contentimgpost {
  grid-area: 1 / 2 / 5 / 3; }

.borde_flecha {
  grid-area: 1 / 1 / 5 / 2;
  position: relative;
  background: var(--fondo_principal);
  display: grid;
  align-items: center; }

.borde_flecha::before {
  border: 25px solid var(--fondo_principal);
  content: '';
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-right: 11px solid transparent;
  position: absolute;
  right: -30px;
  bottom: calc(50% - 20px); }

.content-items {
  max-width: 80%;
  padding-left: 0.5rem;
  margin-left: 0.7rem;
  display: flex;
  flex-direction: column; }

.dia_post_content1 {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.borde_flecha1 {
  grid-area: 1 / 2 / 5 / 3;
  position: relative;
  background: var(--fondo_principal);
  display: grid;
  align-items: center; }

.borde_flecha1::before {
  border: 25px solid var(--fondo_principal);
  content: '';
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 11px solid transparent;
  position: absolute;
  left: -30px;
  bottom: calc(50% - 20px); }

.dia_post_item_img1 {
  grid-area: 1 / 1 / 5 / 2;
  text-align: right; }

.time_post2 {
  color: var(--barra_texto_suscribete_leermas); }

.img_like_dia {
  position: relative;
  top: 2px;
  width: 13px;
  height: 13px;
  object-fit: cover;
  object-position: 0px 0px;
  padding-top: 1.5px; }

.img_dia {
  width: 100%;
  object-fit: cover;
  object-position: 0px 0px; }
