#block-formularidecerca {
  position: relative; }

#search-block-form {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  position: fixed;
  height: calc(30vh - var(--header-height));
  width: 100vw;
  background: var(--fondo_principal);
  top: var(--header-height);
  right: -2000px;
  z-index: 500; }
  @media screen and (min-width: 992px) {
    #search-block-form {
      height: calc(10vh - var(--header-height)); } }
  #search-block-form.show {
    right: 0; }
  #search-block-form.show2 {
    top: 10px;
    right: 130px;
    max-width: 50%; }
    @media screen and (min-width: 1400px) {
      #search-block-form.show2 {
        top: 35px;
        right: 150px; } }
    @media screen and (min-width: 1700px) {
      #search-block-form.show2 {
        right: 190px; } }
    @media screen and (min-width: 1700px) {
      #search-block-form.show2 {
        right: 210px; } }

.bottom_enviar_search input {
  max-width: 1.5rem;
  margin-top: 2rem;
  padding-right: 0.5rem; }

.js-form-type-search input {
  width: 300px;
  margin-top: 2rem;
  border: none;
  border-bottom: 1px solid #555;
  background: var(--fondo_principal);
  font-size: 0.6em; }
  @media screen and (min-width: 992px) {
    .js-form-type-search input {
      width: 500px; } }
  @media screen and (min-width: 1400px) {
    .js-form-type-search input {
      width: 600px; } }

.js-form-item.form-item.js-form-type-search.form-item-keys.js-form-item-keys.form-no-label {
  text-align: center; }

#search-block-form #edit-actions {
  max-width: 5rem;
  margin-left: 0.3rem;
  background-image: url(); }

.icona_recerca {
  min-width: 1.5rem;
  max-width: 1rem; }

.show3 {
  visibility: hidden; }
