#block-formularidecerca {
  position: relative; }

#search-block-form {
  position: fixed;
  height: calc(100vh - var(--header-height));
  width: 100vw;
  background: var(--fondo_principal);
  top: var(--header-height);
  right: -2000px;
  z-index: 500; }
  #search-block-form.show {
    right: 0; }

.js-form-item.form-item.js-form-type-search.form-item-keys.js-form-item-keys.form-no-label {
  text-align: center; }

#edit-actions {
  margin-left: 0.3rem;
  text-align: center; }

/*#edit-submit{
  max-width: 20%;
}*/
.icona_recerca {
  min-width: 1.5rem;
  max-width: 2rem; }
