.cambio::placeholder {
  color: #fff; }

#content_comprarural {
  margin: 0 auto;
  background: var(--compra_rural_fondo1); }
  @media screen and (min-width: 767px) {
    #content_comprarural {
      margin-top: 0; } }

@media screen and (min-width: 960px) {
  .content_item_text {
    margin-top: 1.5rem; } }

#comprarural_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  @media screen and (min-width: 767px) {
    #comprarural_section {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }

.intem_comprarural_img {
  grid-area: 1 / 1 / 5 / 2; }
  @media screen and (min-width: 767px) {
    .intem_comprarural_img {
      grid-area: 1 / 1 / 5 / 3; } }

.intem_comprarural_content {
  grid-area: 1 / 2 / 5 / 4;
  margin-bottom: -1.5rem; }
  @media screen and (min-width: 767px) {
    .intem_comprarural_content {
      grid-area: 1 / 3 / 4 / 5; } }

.comprarural_text {
  font-size: 0.6em;
  max-width: 80%;
  text-align: justify;
  margin: 0 0 0.6rem 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 425px) {
    .comprarural_text {
      font-size: var(--text_comment); } }
  @media screen and (min-width: 576px) {
    .comprarural_text {
      max-width: 80%;
      font-size: var(--texto); } }
  @media screen and (min-width: 767px) {
    .comprarural_text {
      font-size: var(--menu); } }
  @media screen and (min-width: 1200px) {
    .comprarural_text {
      font-size: 0.9em; } }
  @media screen and (min-width: 1400px) {
    .comprarural_text {
      font-size: 1.3em;
      margin-bottom: 1.5rem; } }

.comprarural-addform {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 90%;
  margin: 0 auto; }
  @media screen and (min-width: 767px) {
    .comprarural-addform {
      max-width: 80%; } }

.compra_email {
  background: var(--compra_rural_fondo1);
  border: none;
  border-bottom: 1px solid var(--form);
  font-size: var(--text_form); }
  @media screen and (min-width: 576px) {
    .compra_email {
      font-size: 0.8em; } }

.comprarural-addform .form-item-email {
  grid-area: 1 / 1 / 2 / 4; }

.comprarural-addform .form-checkboxes {
  grid-area: 2 / 1 / 3 / 3; }

.comprarural-addform .form-actions {
  grid-area: 2 / 3 / 3 / 4; }
  .comprarural-addform .form-actions .form-submit {
    margin-top: 0.3rem;
    background: var(--compra_rural_fondo1);
    border-color: var(--form);
    margin-left: 0; }
    @media screen and (min-width: 576px) {
      .comprarural-addform .form-actions .form-submit {
        margin-top: 1.5rem; } }
    @media screen and (min-width: 767px) {
      .comprarural-addform .form-actions .form-submit {
        margin-top: 1.3rem; } }
    @media screen and (min-width: 960px) {
      .comprarural-addform .form-actions .form-submit {
        margin-top: 2rem; } }
    @media screen and (min-width: 1039px) {
      .comprarural-addform .form-actions .form-submit {
        margin-top: 3rem; } }

@media screen and (min-width: 576px) {
  #edit-politica-privacidad .form-item-politica-privacidad-acepto-la-politica-de-privacidad {
    margin-top: 1.5rem; } }

@media screen and (min-width: 767px) {
  #edit-politica-privacidad .form-item-politica-privacidad-acepto-la-politica-de-privacidad {
    margin-top: 0.5rem; } }

@media screen and (min-width: 1039px) {
  #edit-politica-privacidad .form-item-politica-privacidad-acepto-la-politica-de-privacidad {
    margin-top: 2rem; } }

#edit-politica-privacidad .form-item-politica-privacidad-acepto-la-politica-de-privacidad .option {
  font-size: var(--leer_mas);
  margin-top: -0.3rem; }
  @media screen and (min-width: 576px) {
    #edit-politica-privacidad .form-item-politica-privacidad-acepto-la-politica-de-privacidad .option {
      font-size: 0.7rem; } }
  @media screen and (min-width: 767px) {
    #edit-politica-privacidad .form-item-politica-privacidad-acepto-la-politica-de-privacidad .option {
      font-size: 0.7rem; } }
  @media screen and (min-width: 1400px) {
    #edit-politica-privacidad .form-item-politica-privacidad-acepto-la-politica-de-privacidad .option {
      font-size: 1rem; } }

.item_comprarural_img {
  padding: 0.3rem 1rem 0.5rem 1rem;
  text-align: center; }
  .item_comprarural_img img {
    max-width: 90%; }
    @media screen and (min-width: 767px) {
      .item_comprarural_img img {
        max-width: 80%;
        margin-top: 1rem; } }

#comprarural-addform .form-actions {
  margin-bottom: 0px; }

.compra_politica_privacidad {
  visibility: hidden; }

input[type="checkbox"] {
  display: none; }

label {
  cursor: pointer; }

input[type="checkbox"] + label:before {
  border: 1px solid var(--form);
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 15px;
  margin: 0 .25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 15px; }

input[type="checkbox"]:checked + label:before {
  background: #fff;
  color: #333;
  content: "\2713";
  text-align: center; }

input[type="checkbox"]:checked + label:after {
  font-weight: bold; }

@media screen and (min-width: 767px) {
  .comprarural-addform .form-actions .form-submit {
    font-size: 1.1em; } }

.img_ondasfooter {
  display: none; }
  @media screen and (min-width: 767px) {
    .img_ondasfooter {
      display: block;
      margin-top: -5px; } }

@media screen and (min-width: 767px) {
  .img_comprarural {
    margin-bottom: -0.5rem; } }

@media screen and (min-width: 960px) {
  .img_comprarural {
    margin-bottom: -0.7rem; } }

.item_comprarural #lupa {
  display: none; }
