@media screen and (min-width: 767px) {
  .diahome_item {
    padding-top: 4.5rem; } }

.img_inici_dia {
  border-bottom: 25px solid var(--fondo_texto_separado); }

#contentdiahomecontent {
  background: var(--fondo_principal);
  padding-top: 1rem;
  padding-bottom: 1rem; }

#text_diahome {
  margin-bottom: 0;
  padding-bottom: 1rem; }
  @media screen and (min-width: 767px) {
    #text_diahome {
      padding-bottom: 0; } }

#contentdiahome {
  background: var(--fondo_principal);
  margin-top: -10px;
  padding: 0 1rem; }
  #contentdiahome h1 {
    font-size: var(--titulo);
    color: var(--tipografi_principal);
    margin: 0 !important;
    padding-top: 2.3rem; }
    @media screen and (min-width: 1100px) {
      #contentdiahome h1 {
        padding-left: 10rem;
        padding-right: 7rem; } }
  #contentdiahome p {
    font-size: var(--texto);
    text-align: justify; }
    @media screen and (min-width: 767px) {
      #contentdiahome p {
        line-height: 2em; } }
    @media screen and (min-width: 1100px) {
      #contentdiahome p {
        padding-left: 10rem;
        padding-right: 10rem; } }
  @media screen and (min-width: 767px) {
    #contentdiahome {
      max-width: var(--max-width-contetnt);
      margin: 0 auto; } }

.diahome_img {
  border-bottom: 25px solid var(--fondo_texto_separado); }

@media screen and (min-width: 767px) {
  #borde_fantasma {
    margin-left: 0;
    max-width: 22%; } }

@media screen and (min-width: 1100px) {
  #borde_fantasma {
    max-width: 15%; } }

@media screen and (min-width: 1400px) {
  #borde_fantasma {
    max-width: 12%; } }

@media screen and (min-width: 1100px) {
  #contentdiahome #borde_fantasma {
    margin-left: 10rem; } }
