@media screen and (min-width: 767px) {
  div#footer_contact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; } }

footer {
  background: #fff;
  height: 250px; }
  @media screen and (min-width: 425px) {
    footer {
      height: 350px; } }

#contetnt_footerual {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%; }

#logo_rural_footer {
  text-align: center; }

.logo_rural_footer {
  margin-top: 1rem;
  max-width: 85%; }
  @media screen and (min-width: 767px) {
    .logo_rural_footer {
      max-width: 100%; } }
  @media screen and (min-width: 960px) {
    .logo_rural_footer {
      max-width: 90%; } }

#correoRural p {
  font-size: var(--texto);
  color: var(--form);
  margin-left: 1.5rem;
  text-align: center; }
  @media screen and (min-width: 960px) {
    #correoRural p {
      margin-left: 5rem; } }

.mail_footer {
  position: relative; }

.mail_footer::before {
  content: url("../img/Mail.png");
  position: absolute;
  max-width: 4px;
  max-height: 4px;
  transform: scale(0.1);
  left: -20px;
  top: -6px; }

#whassRural p {
  font-size: var(--texto);
  color: var(--form);
  margin-left: 1.5rem;
  text-align: center; }
  @media screen and (min-width: 960px) {
    #whassRural p {
      margin-left: 5rem; } }

.tlt_footer {
  padding-top: 0.5rem;
  position: relative; }

.tlt_footer::before {
  content: url("../img/Whatsapp.png");
  position: absolute;
  max-width: 4px;
  max-height: 4px;
  transform: scale(0.1);
  left: -20px;
  top: 1px; }

@media screen and (min-width: 767px) {
  .item_footer {
    display: none; } }
