#nodepost_content_content {
  background: var(--fondo_principal); }
  @media screen and (min-width: 767px) {
    #nodepost_content_content {
      padding-top: 7rem; } }

#content_post {
  max-width: var(--max-width-contetnt);
  background: var(--fondo_principal);
  margin: 0 auto; }
  @media screen and (min-width: 767px) {
    #content_post {
      margin-top: -2.4%; } }
  @media screen and (min-width: 1100px) {
    #content_post {
      margin-top: -2%; } }
  @media screen and (min-width: 1400px) {
    #content_post {
      margin-top: -1%; } }

@media screen and (min-width: 767px) {
  #item_img_post {
    float: left; } }

.post_img {
  width: var(--width_post);
  height: var(--height_post);
  object-fit: cover;
  object-position: 0px 0px; }
  @media screen and (min-width: 767px) {
    .post_img {
      padding-right: 30px;
      padding-top: 1rem; } }

.flecha_img {
  display: block;
  margin: auto;
  cursor: pointer; }
  @media screen and (min-width: 767px) {
    .flecha_img {
      display: none; } }

#content_items_post {
  margin-bottom: 1.2rem; }

#item_title_post {
  font-size: var(--menu);
  color: var(--tipografi_principal);
  text-align: left;
  padding-bottom: 2rem; }
  @media screen and (min-width: 767px) {
    #item_title_post {
      float: left;
      margin-top: 2rem; } }
  #item_title_post h2 {
    text-align: left; }

.titulo_post {
  padding-left: 1.2rem; }
  @media screen and (min-width: 767px) {
    .titulo_post {
      padding-left: 0px;
      padding-right: 1rem; } }

.borde_titulo {
  max-width: 150px;
  padding-left: 1.2rem; }
  @media screen and (min-width: 767px) {
    .borde_titulo {
      padding-left: 0px; } }

#borde_fantasma {
  border-bottom: 5px solid var(--compra_rural_fondo2);
  max-width: 35%; }

#format_date span {
  font-size: var(--leer_mas);
  padding-left: 1.2rem; }
  @media screen and (min-width: 1000px) {
    #format_date span {
      font-size: var(--menu); } }

#text_post p {
  font-size: var(--texto);
  text-align: justify;
  padding: 0 1.2rem; }

.content_redes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2.2rem; }
  @media screen and (min-width: 767px) {
    .content_redes {
      clear: both; } }

.content_comparte ul {
  padding-left: 1.2rem; }

.item_list_compartir {
  max-width: 1.5rem;
  display: inline;
  margin-right: 0.6rem; }

.tituloItem {
  position: relative; }
  .tituloItem h4 {
    position: relative;
    top: -3px; }

.comparte_list_title {
  display: inline;
  font-size: 0.7em;
  color: var(--compra_rural_fondo2);
  padding-bottom: 10px; }

.icona_compartir {
  max-width: 0.6rem; }

.icona_compartir_twi {
  max-width: 1.2rem; }

.img_like {
  max-width: 2.5rem;
  margin-top: 0.3rem;
  margin-right: 1.2rem; }

#item_img {
  position: relative; }

#efecto1 {
  position: absolute;
  top: 65%;
  left: 50%; }

/*article#comment-2 footer, article#comment-1 footer, article#comment-3 footer, article#comment-4 footer, article#comment-5 footer {
    display: none;
}
ul.links.inline {
    display: none;
}



div#edit-comment-body-0-format {
    display: none;
}
div#content_node h3{
  display:none;
}

div#content_node article {
    border-bottom: 1px solid var(--form);
    margin-bottom: 2.5rem;
}
*/
#edit-comment-body-0-format-help {
  display: none; }

#edit-comment-body-0-format-guidelines {
  display: none; }

.coment_post {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem; }
  @media screen and (min-width: 767px) {
    .coment_post {
      width: 500px; } }
  .coment_post label {
    display: none; }
  .coment_post #edit-preview {
    display: none; }

.coment_post input[type="text"] {
  display: none;
  max-width: 100%; }

.coment_post textarea {
  max-width: 100%;
  border: none;
  border-bottom: 1px solid var(--form);
  background: var(--fondo_principal); }

.coment_post input[type=submit] {
  font-size: 0.9em;
  background: var(--fondo_principal);
  margin-top: 1rem;
  text-align: right; }

textarea#edit-comment-body-0-value {
  font-size: var(--menu); }

.form-actions {
  text-align: right;
  margin-bottom: 3.2rem; }

.js-comment {
  margin-bottom: 1rem; }
  .js-comment h3 {
    display: none; }
  .js-comment footer {
    background: none;
    height: auto; }
    .js-comment footer a {
      display: none; }

.indented {
  margin-left: 2rem; }

.coment_post article {
  border: 1px solid #d9d9d9;
  border-top: none; }

.coment_post p {
  font-size: var(--text_comment);
  padding: 0.5rem; }
  .coment_post p span {
    font-size: var(--text_form); }

.links, .inline {
  text-align: right;
  margin-left: 0.3rem; }
  .links a, .inline a {
    text-decoration: none;
    color: var(--tipografi_principal);
    font-size: var(--text_comment);
    padding: 0.5rem;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    margin: 1rem; }

form#comment-form {
  margin-top: 2.5rem; }

.indented {
  /*article{

   border:1px solid #d9d9d9;
   border-top:none;
  	//border-radius:15px;
  }*/ }
  .indented p {
    font-size: var(--text_comment);
    padding: 0.5rem; }
    .indented p span {
      font-size: var(--text_form); }

.js-comment {
  /*article{

   border:1px solid #d9d9d9;
   border-top:none;
  	//border-radius:15px;
  }*/ }
  .js-comment p {
    font-size: var(--text_comment);
    padding: 0.5rem; }
    .js-comment p span {
      font-size: 1em; }

form#comment-form input[type="text"] {
  max-width: 80%; }

#edit-comment-body-0-value {
  max-width: 80%; }

label.js-form-required.form-required {
  font-size: var(--text_comment); }

.img_like {
  /*  background: rgb(53, 61, 45);
background-image: url("../img/relleno_likes.jpg");
background-repeat: no-repeat;
background-position: 23px ;*/
  background: linear-gradient(to right, #353d2d var(--contador_like), transparent 50%);
  cursor: pointer; }

#galeria_post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2rem; }

#galeria_post_siguiente, #galeria_post_anterior {
  cursor: pointer; }
