.content_modal {
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(125, 125, 125, 0.8);
  /*  background-color: rgb(72, 194, 242, 0.5);*/
  /*  display: flex;
  justify-content: space-between;*/
  position: fixed;
  z-index: 100000005000090909090;
  left: 0;
  top: 0; }

#img_popup {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 8rem; }

.buttom_modal {
  padding: 0.5rem;
  cursor: pointer; }

.close-modal {
  cursor: pointer; }

.buttom_modal button {
  background: #3b3b3b;
  color: #fff;
  border: none; }

.escondite {
  display: none; }
