#content {
  position: relative; }

#randomid {
  z-index: 19999;
  position: fixed;
  top: 33%;
  left: 28%; }
  @media screen and (min-width: 767px) {
    #randomid {
      top: 40%; } }

@media screen and (min-width: 767px) {
  #popup_mobil {
    display: none; } }

.img_popup {
  padding-top: 2rem;
  object-fit: contain;
  object-position: 0px 0px;
  width: 500px;
  height: 400px; }
