#main-banner {
  position: relative; }

#block-redesstaticblock-2 {
  position: fixed;
  z-index: 18000;
  display: none; }
  @media screen and (min-width: 767px) {
    #block-redesstaticblock-2 {
      display: block;
      top: 5rem;
      right: 0; } }
  @media screen and (min-width: 800px) {
    #block-redesstaticblock-2 {
      top: 6rem; } }
  @media screen and (min-width: 950px) {
    #block-redesstaticblock-2 {
      top: 7.5rem; } }
  @media screen and (min-width: 1000px) {
    #block-redesstaticblock-2 {
      top: 8.5rem; } }
  @media screen and (min-width: 1100px) {
    #block-redesstaticblock-2 {
      top: 9.5rem; } }
  @media screen and (min-width: 1280px) {
    #block-redesstaticblock-2 {
      top: 12.5rem; } }
  @media screen and (min-width: 1400px) {
    #block-redesstaticblock-2 {
      top: 15.5rem; } }
  @media screen and (min-width: 1900px) {
    #block-redesstaticblock-2 {
      top: 25.5rem; } }

#block-redesstaticblock-2 #content-redes .redes_img {
  display: block;
  background: var(--fondo_principal);
  max-width: 4.5rem;
  padding: 10px; }

div#content-redes ul li {
  padding-top: 0rem; }
