{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
<div id="lupa"><img id="img_search_lupa" class="icona_recerca" src="/rural/web/themes/custom/manosminimal/img/lupa.JPG" alt="icono lupa"/></div>
<form{{ attributes }}>
  {{ children }}
</form>
