<header id="header">
  <div id="header_top" clas="header-item">
    {% if page.header_top %}
        {{page.header_top}}
    {% endif %}
  </div>
  <div id="header-header" class="header-item">
    {% if page.header %}
        {{page.header}}
    {% endif %}
  </div>
</header>
